body {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	text-align: center;
	min-height: 90vh;
	background: url("../img/billardBlur.jpg") no-repeat center;
}
p {
	margin: 0;
}
.hidden {
	display: none;
}
h1 {
	font-size: 9em;
	font-weight: 800;
	font-style: italic;
	text-transform: uppercase;
	color: white;
	margin: 0.2em 0;
	text-shadow: 8px 5px 10px rgba(0, 0, 0, 0.25);
}
form {
	position: relative;
	width: 86em;
	margin: 0 auto;
	padding: 4em 11em 3em;
	background-color: white;
	border-radius: 15px;
}
fieldset {
	border: none;
}
h2 {
	font-size: 2.3em;
	font-weight: 700;
	display: block;
	width: 9em;
	color: #428efe;
	margin: 0 auto 3em;
	text-transform: uppercase;
}
#player {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 5em;
	border: none;
}
#player div {
	min-width: 12em;
	padding: 1em 2em;
	background-color: white;
	border: 2px solid #eff0f4;
	box-shadow: 0px 3px 8px rgba(0,0,0,0.5);
	border-radius: 15px;
}
h3 {
	font-size: 2em;
	font-weight: 700;
	color: #9eabbe;
	margin-bottom: 1em;
}
.intitule {
	font-size: 1em;
	font-weight: 300;
	text-transform: uppercase;
	width: 10em;
	margin: 0 auto 0.5em;
}
.intituleScore {
	font-size: 1em;
	font-weight: 600;
	font-style: italic;
	margin-bottom: 1em;
}
img {
	position: absolute;
	top: 2.5em;
	right: 2.5em;
	width: 3em;
}
input[type= "submit"] {
	display: block;
	font-size: 2em;
	font-weight: 700;
	margin: 0 auto;
	padding: 1em 3em;
	text-transform: uppercase;
	color: #9eabbe;
	background-color: #fbfbfb;
	border: 2px solid #f4f5f7;
	border-radius: 5em;
	box-shadow: 0px 3px 8px rgba(0,0,0,0.5);
}
#player .premierJoueur {
	position: relative;
	border: 2px solid #428efe;
	box-shadow: none;
}
.premierJoueur::before, .deuxiemeJoueur::before {
	content: "";
	display: block;
	padding: 0.4em 0.8em;
	font-size: 1.6em;
	font-weight: 600;
	font-style: italic;
	border-radius: 3em;
	position: absolute;
	top: -0.4em;
	right: -0.8em;
	text-align: center;
	color: white;

}
.premierJoueur::before {
	content: "1";
	background-color: #428efe;
}
.deuxiemeJoueur::before {
	content: "2";
	background-color: #b5eb26;
}
#player .deuxiemeJoueur {
	position: relative;
	border: 2px solid #b5eb26;
	box-shadow: none;
}